<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation=
               "http://www.springframework.org/schema/beans
               http://www.springframework.org/schema/beans/spring-beans.xsd
               http://www.springframework.org/schema/context
               http://www.springframework.org/schema/context/spring-context.xsd
               ">
    <!--  无参构造方法实例化  -->
    <bean id="user" class="pojo.User"/>

    <!--  工厂静态方法实例化 -->
    <bean id="user4StaticFactory" class="instantiation.UserStaticFactory" factory-method="createUser"/>

    <!--  工厂实例方法实例化  -->
    <bean id="userDynamicFactory" class="instantiation.UserDynamicFactory"/>

    <bean id="user4DynamicFactory" factory-bean="userDynamicFactory" factory-method="createUser"/>
    <!--  构造方法 注入  -->
    <bean id="user4Constructor" class="pojo.User">
        <constructor-arg name="name" value="name"/>
        <constructor-arg name="age" value="22"/>
        <constructor-arg name="createMethod" value="constructor DI"/>
    </bean>
    <!--  set 注入  -->
    <bean id="user4Set" class="pojo.User">
        <property name="name" value="name"/>
        <property name="age" value="22"/>
        <property name="createMethod" value="set DI"/>
    </bean>
    <!--  p标签  -->
    <bean id="user4p" class="pojo.User" p:name="name" p:age="22" p:createMethod="tag p DI" />
    <!--  基础数据类型注入  -->
    <bean id="basicDI" class="di.BasicDI">
        <property name="username" value="zhangsan"/>
        <property name="age" value="12"/>
    </bean>

    <!--  List 注入  -->
    <bean id="listDI" class="di.ListDI">
        <property name="strList">
            <list>
                <value>abc</value>
                <value>def</value>
                <value>ghi</value>
            </list>
        </property>
    </bean>
    <!--   Map 注入  -->
    <bean id="u1" class="pojo.User"/>
    <bean id="u2" class="pojo.User"/>
    <bean id="mapDI" class="di.MapDI">
        <property name="userMap">
            <map>
                <entry key="user1" value-ref="u1"/>
                <entry key="user2" value-ref="u2"/>

            </map>
        </property>
    </bean>

    <!--  properties 注入  -->
    <bean id="propertiesDI" class="di.PropertiesDI">
        <property name="properties">
            <props>
                <prop key="p1">value1</prop>
                <prop key="p2">value2</prop>
                <prop key="p3">value3</prop>
            </props>
        </property>
    </bean>
    <!--  映入其他配置文件  -->
    <import resource="applicationContext-xxx.xml"/>

    <!--  引入 jdbc.properties  -->
    <context:property-placeholder location="jdbc.properties"/>
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driver}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
</beans>